
/* contact */
.contact-right{
    flex-basis: 60%;
}





.btn.btn2{
    display: inline-block;
    background: rgb(5, 118, 247);
}

.contact-right form{
    width: 100%;

}
form input , form textarea {
    width: 100%;
    border: 1;
    /* outline: none; */
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


@media only screen and (max-width:600px){
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}